#tooltip.hidden
{
    display: none;
}

#tooltip
{
    position:absolute;
    width:100px;
    height: auto;
    padding:10px;
    background-color:antiquewhite;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba (0,0,0,0.4);
    pointer-events:none;
    
}